@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	width: 400px;
	margin: auto;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
}

ul li {
	display: inline;
}

.list-pipe > li:not(:last-child)::after {
	content: '|';
	margin: 0 0.25em;
}

.entry-error {
	color: #ff0000;
}

.navbar {
	font-size: 16px;
	margin-bottom: 21px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.post {
	margin-top: 21px;
	margin-right: auto;
	margin-bottom: 21px;
	margin-left: auto;
	padding: 21px;
	border: 3px solid #eeeeee;
	border-radius: 5px;
}

.post-image {
	max-width: 350px;
}

.form-header {
	margin-top: 55px;
}
